.ani {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 50px;
  line-height: 200px;
  animation: slideDown 1.5s ease-in-out 1s forwards;
}
@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
body {
  background-color: #f0f8ff; /* 添加背景颜色 */
  margin: 0;
  background-image: url(https://cloud.qqshabi.cn/api/images/api.php);
  background-size: cover; /* 背景图像覆盖整个页面 */
  background-position: center; /* 背景图像居中显示 */
}
footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.button {
  margin: 10px;
  padding: 15px 20px; /* 调整按钮的内边距 */
  font-size: 16px; /* 调整字体大小 */
  color: white;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3); /* 添加阴影 */
  transition: transform 0.2s, box-shadow 0.2s; /* 添加过渡效果 */
}
.button:hover {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* 鼠标悬停时增加阴影 */
}
.button:active {
  transform: scale(0.95); /* 点击时缩放效果 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 点击时减小阴影 */
}
@media (max-width: 600px) {
  .button {
    padding: 10px 15px; /* 在小屏幕上进一步调整按钮大小 */
    font-size: 14px;
  }
}
.button-green {
  background-color: #4caf50;
}
.button-blue {
  background-color: #008cba;
}
.button-red {
  background-color: #2a2827;
}
.button-container {
  text-align: center;
  line-height: 70vh;
}
